
{{isLoading$ | async}}
<ng4-loading-spinner *ngIf="isLoading$ | async" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
<div class="OhadSaharMenu" *ngIf="!(isLoading$ | async)">
  <button mat-button [matMenuTriggerFor]="menu">
    <i class="fas fa-ellipsis-v"></i>Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="Login()"><i class="fas fa-sign-in-alt"></i> Login</button>
    <button mat-menu-item (click)="SignUp()"><i class="fas fa-user-plus"></i> Sign up</button>
  </mat-menu>
  <p>

    <span>This is the social network for all comics fans wherever they are</span>
  </p>
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-3">
      <img src="../../../assets/antmanComic.jpg" class="img-thumbnail" />
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <img src="../../../assets/deadPoolcomics.webp" class="img-thumbnail" />
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <img src="../../../assets/teenagemutant.jpg" class="img-thumbnail" />
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <img src="../../../assets/wolverinComic.jpg" class="img-thumbnail" />
    </div>
  </div>
</div>
