
.wall-style {

  overflow-x: hidden;
  background-image:linear-gradient(to left, #003459,#003459, #FF3F4E);
  font-family: 'Shadows Into Light', cursive !important;
  height: 100vh;
}


.wall-style .left-nav {

  background-image:linear-gradient(#031D44, #04395E);
  box-shadow: 3px 3px 3px cornflowerblue;
  height: 100vh !important;;
}

.wall-style .example-full-width {
  width: 70% !important;
}

.mat-option img {

  height: 40px !important;
  width: 40px !important;
}

.mat-hint {
  font-family: 'Shadows Into Light', cursive !important;
  font-size: 16px;

}

.mat-form-field-appearance-legacy .mat-hint {

  color: #FF3F4E;

}
.space-line {

  height: 10px;

}
.example-option-img {

  height: 40px !important;
  width: 40px !important;
}

.mat-option {

  background-color: #1D3557;
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

.mat-select-value {

  font-family: 'Shadows Into Light', cursive !important;
  color: white;

}
.collection-edit-images {

  margin-top: 50%;
  display: inline-grid;
}

.image-upload .mat-button.mat-accent {
  margin-left: 5%;
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}

.collection-edit-images .mat-button.mat-primary {

  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
  color:white;

}
.title-image {

  display: inline;
}
.old-new-images {

  display: -webkit-box;
}
.wall-style #edit-placeholder {

  font-family: 'Shadows Into Light', cursive !important;
  color: rgb(212, 195, 195);
  font-size: 22px;
}
.wall-style .main-page {

  padding: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.collection-of-images {


  margin: auto;
  display: block;
  justify-content: center;

}

#img-collection {

  width: 120px !important;
  height: 109px !important;
  margin-bottom: 10%;
}
.wall-style h2 {

  color: white;
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  bottom: 20px;
}
.wall-style h5 {

  font-family: 'Shadows Into Light', cursive;
  font-size: 19px;
  text-align: center;
  padding-top: 30px;
  color: white;
  cursor: pointer;
}

#old-image {

  margin-left: 10%;
}

.wall-style h1 {

  font-size: 14px;
  color: white;
}

.wall-style .mat-list-item   {

  font-family: 'Shadows Into Light', cursive;
  font-size: 23px;
  text-align: center;
  padding-top: 30px;
  color: white;

}

.fa-edit:before{

    color: white;
    cursor: pointer;

}

.image-upload {

  height: 0px;;
}
#img-collection-info {

  width: 50px !important;
  height: 50px !important;
}

.wall-style .mat-paginator {

  background-color: transparent !important;
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;
}

.wall-style .mat-paginator-page-size, .mat-paginator-range-actions {

  color: white;
}

.wall-style .mat-select-arrow {

  color: white;
}

.wall-style .mat-paginator-icon {

  color: white;
}

#iconImg {

  width: 35px !important;
  height: 35px !important;
}

.img-thumbnail {

  width: 200px !important;
  height: 200px !important;
  transition: transform .3s;
  z-index: -1;;

}

.img-thumbnail:hover {

  transform: scale(1.2);
  z-index: 1;
}

h3 {

  color: white;
  margin-top: 5% !important;
  font-family: 'Shadows Into Light', cursive;
  font-size: 19px;
}

h4 {

  color: white;
  margin-top: 5% !important;
  font-family: 'Shadows Into Light', cursive;
  background-image:linear-gradient(to left, #003459,#0a2d46, #FF3F4E);
}

.edit-collection {

  color: white;
  margin-top: 5% !important;
  font-family: 'Shadows Into Light', cursive;
  background-image:linear-gradient(to left, #003459,#0a2d46, #FF3F4E);
  cursor: pointer;
  width: 70%;
  text-align: center;
  font-size: 23px;

}
.image-preview {

  width: 200px;
  height: 200px;

}



.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {

  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  height: inherit;
  font-family: 'Shadows Into Light', cursive;
  font-size: 23px;
  color: white;
}


.wall-style .edit-button {

  display: -webkit-box;
  margin-top: 5%;
}
.wall-style .placeholder {

  opacity: 0.6;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;

}

.mat-error {

  color: #f44336;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
}


@media only screen and (max-width: 600px) {

  .wall-style .main-page {

    padding: 0px;
  }


.wall-style .mat-list-item   {

  font-family: 'Shadows Into Light', cursive;
  font-size: 15px;
  padding-top: 30px;
  color: white;

}
 .wall-style h2 {

  color: white;
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    bottom: 20px;
    font-size: 10px;
 }

 .wall-style .mat-list-base {

  padding: 30px;
 }

}
