<ng4-loading-spinner *ngIf="isLoading$ | async" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
<div class="wall-style">
  <div class="row">
    <!-- Desktop & Tablet menu -->
    <div class="col-sm-1 col-md-1 col-lg-1 left-nav"  *ngIf="!(mobile$ | async)">
      <h5 (click)="disableWall()"><img src="{{userConnected?.Image}}" class="menu-img"> {{userConnected?.firstname}} Profile</h5>
      <h5><a [routerLink]="['/posts', id]">Wall</a></h5>
      <h5 (click)="disconnect()">Disconnect</h5>
      <h5>New comics 2019</h5>
    </div>
    <!-- Mobile menu -->
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="mobile$ | async" class="profile-menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><h5 (click)="disableWall()"><img src="{{userConnected?.Image}}" class="menu-img"> {{userConnected?.firstname}} Profile</h5></button>
      <button mat-menu-item><h5 (click)="enableWall()">Wall</h5></button>
      <button mat-menu-item><h5 (click)="disconnect()">Disconnect </h5></button>
      <button mat-menu-item><h5>New comics 2019</h5></button>
    </mat-menu>
    <!-- End of mobile menu -->
    <div class="col-sm-10">
      <div class="main-page">

        <!-- Profile section includes full edit options -->
        <div *ngIf="(profileAble$ | async)">
          <mat-list>
            <i class="far fa-edit" (click)="edit()"></i><h4 *ngIf="editAble$ | async">Edit Mode</h4>
            <div id="updateForm" *ngIf="!(isLoading$ | async)">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <mat-list-item *ngIf="!(editAble$ | async)">Your Firstname: {{ userConnected?.firstname }}
                  </mat-list-item>
                  <mat-divider *ngIf="mobile$ | async" ></mat-divider>
                  <div *ngIf="editAble$ | async" style="margin-top: 1%"></div>

                  <mat-form-field class="example-full-width" *ngIf="editAble$ | async">
                    <input matInput type="text" name="firstname"  [(ngModel)]="editUser.firstname" minlength="2"
                      value="{{userConnected?.firstname}}" />
                      <mat-placeholder id="edit-placeholder">First name</mat-placeholder>
                    <mat-error *ngIf="editUser?.firstname.length<=0">Your first name is not in the right format</mat-error>
                  </mat-form-field>

                  <div class="space-line" *ngIf="editAble$ | async"></div>
                  <mat-list-item *ngIf="!(editAble$ | async)">Your Last name: {{ userConnected?.lastname }}
                  </mat-list-item>
                  <mat-divider *ngIf="mobile$ | async" ></mat-divider>


                  <mat-form-field class="example-full-width" *ngIf="editAble$ | async">
                    <input matInput type="text" name="lastname" [(ngModel)]="editUser.lastname"
                    value="{{userConnected?.lastname}}" minlength="2" />
                     <mat-placeholder id="edit-placeholder">Last name</mat-placeholder>
                    <mat-error *ngIf="editUser?.lastname.length <= 0">Your lastname is not in the right format</mat-error>
                  </mat-form-field>

                  <div class="space-line" *ngIf="editAble$ | async"></div>
                  <mat-list-item *ngIf="!(editAble$ | async)">Your Superhero: {{ userConnected?.superhero }}
                  </mat-list-item>
                  <mat-divider *ngIf="mobile$ | async" ></mat-divider>

                  <mat-form-field class="example-full-width" *ngIf="editAble$ | async">
                    <input matInput type="text" name="superhero" [(ngModel)]="editUser.superhero"
                      value="{{userConnected?.superhero}}" minlength="1" />
                      <mat-placeholder id="edit-placeholder">Super hero</mat-placeholder>
                    <mat-error *ngIf="editUser?.superhero.length <=0">Your superhero is not in the right format</mat-error>
                  </mat-form-field>

                  <div class="space-line" *ngIf="editAble$ | async"></div>
                  <mat-list-item *ngIf="!(editAble$ | async)">Your Email: {{ userConnected?.email }}
                  </mat-list-item>

                  <mat-divider *ngIf="mobile$ | async" ></mat-divider>
                  <mat-list-item *ngIf="!(editAble$ | async)">Your collection:</mat-list-item>
                  <div class="collection-of-images" *ngIf="!(editAble$ | async)">
                    <div class="row">
                      <div *ngFor="let image of userConnected?.Images">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                          <img src="{{image?.imagename}}" class="img-thumbnail" id="img-collection">
                        </div>
                      </div>
                      <mat-paginator [length]="totalImages" [pageSize]="imagesPerPage"
                        [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)">
                      </mat-paginator>
                    </div>
                  </div>
                  <mat-divider *ngIf="mobile$ | async" ></mat-divider>

                  <mat-form-field class="example-full-width" *ngIf="editAble$ | async">
                    <input matInput type="email" name="email" [(ngModel)]="editUser.email"
                      value="{{userConnected?.email}}"/>
                    <mat-placeholder id="edit-placeholder">Email</mat-placeholder>
                    <mat-error *ngIf="editUser?.email.length <= 0">Your email is not in the right format</mat-error>
                  </mat-form-field>


                  <div class="space-line" *ngIf="editAble$ | async"></div>
                  <mat-divider *ngIf="mobile$ | async" ></mat-divider>
                  <mat-form-field class="example-full-width" *ngIf="editAble$ | async">
                    <input matInput minlength="8" name="password" [(ngModel)]="editUser.password"
                      value="{{userConnected?.password}}"  [type]="hide ? 'password' : 'text'" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                    <mat-placeholder id="edit-placeholder">Password</mat-placeholder>
                    <mat-hint>Your password</mat-hint>
                    <mat-error *ngIf="editUser?.password.length <= 0">Your password is not in the right format</mat-error>
                  </mat-form-field>
                <div style="margin-top:3%" *ngIf="(mobile$ | async) && (editAble$ | async)"></div>
                <mat-divider *ngIf="mobile$ | async" ></mat-divider>
                  <mat-form-field class="example-full-width" *ngIf="editAble$ | async">
                    <mat-select [(ngModel)]="selectedValue" name="quote" value="{{userConnected.quote}}">
                      <mat-option *ngFor="let quote of quotes" [value]="quote">
                        <img src="{{quote.icon}}" class="example-option-img"> {{quote.name}}
                      </mat-option>
                    </mat-select>
                    <div *ngFor="let q of userConnected.quote">
                      <mat-placeholder id="edit-placeholder"> <img src="{{q?.icon}}" id="iconImg"> {{q?.name}}
                      </mat-placeholder>
                    </div>
                    <mat-hint>Your quote</mat-hint>
                  </mat-form-field>
                  <button class="edit-button" mat-raised-button *ngIf="(editAble$ | async) && !(mobile$ | async)" (click)="updateUser()">Submit</button>
                  <div style="margin-top:3%" *ngIf="(mobile$ | async) && (editAble$ | async)"></div>
                  <mat-divider *ngIf="(mobile$ | async) && (editAble$ | async)" ></mat-divider>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6" *ngIf="editAble$ | async">
                  <div [formGroup]="imageFormGroup" class="image-upload">
                    <button mat-stroked-button id="image-button" type="button" (click)="filePicker.click()">
                      <h4>Upload profile picture</h4>
                    </button>
                    <input type="file" name="image" #filePicker (change)="onImagePicked($event)"
                      style="visibility: hidden" />
                    <div class="old-new-images">
                      <div *ngIf="imagePreview !== '' && imagePreview">
                        <img [src]="imagePreview" class="img-thumbnail" />
                      </div>
                      <img src="{{userConnected?.Image}}" class="img-thumbnail" id="old-image">
                      <div class="edit-able-paginator-image"></div>
                    </div>
                  </div>
                  <mat-divider *ngIf="(mobile$ | async) && (editAble$ | async)" ></mat-divider>
                  <div class="collection-edit-images">
                      <div class="edit-able-paginator-image"></div>
                      <h1 *ngIf="imagePreview !== '' && imagePreview">New picture:</h1>
                      <button class="edit-button" mat-raised-button *ngIf="(editAble$ | async) && (mobile$ | async)">Submit</button>
                      <mat-divider *ngIf="(mobile$ | async) && (editAble$ | async)"  style="margin-top:3%"></mat-divider>
                      <mat-paginator [length]="totalImages" [pageSize]="imagesPerPage" [pageSizeOptions]="pageSizeOptions"
                        (page)="onChangePage($event)">
                      </mat-paginator>
                      <button mat-stroked-button id="image-button-two" type="button" (click)="filePickerTwo.click()">

                        <h4>Upload your collection</h4>
                        <div class="row">
                          <div *ngFor="let image of userConnected.Images">
                            <div class="col-sm-12">
                              <img [src]="image.imagename" class="img-thumbnail" id="img-collection-info" />
                            </div>
                          </div>
                        </div>
                      </button>
                      <input id="cin" name="cin" type="file" #filePickerTwo (change)="fileChangeEvent($event)"
                        placeholder="Upload a file..." style="visibility: hidden" multiple />
                    </div>
                    <div class="col-sm-12">
                        <div class="edit-collection" (click)="dialogDeleteImages()">Edit collection</div>
                    </div>
                    <div class="space"></div>
                    <mat-divider *ngIf="(mobile$ | async) && (editAble$ | async)" ></mat-divider>

                </div>
                <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="!(editAble$ | async)" id="profile-image">
                  <img src="{{userConnected?.Image}}" class="img-thumbnail profile-image">
                </div>
              </div>
            </div>
            <button mat-button-raised  (click)="uploadCollection()" id="submit-collection" *ngIf="(editAble$ | async)">Submit your collection</button>
          </mat-list>
          <mat-divider *ngIf="(mobile$ | async) && !(editAble$ | async)"></mat-divider>
          <div class="footer" *ngIf="!(editAble$ | async)">
              <div *ngFor="let quote of userConnected?.quote" id="quote-superhero">
                  <h2> Your quote: <img src="{{quote?.icon}}" id="iconImg"> {{quote?.name}}  </h2>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
