<div class="OhadSaharMenu">
  <button mat-button [matMenuTriggerFor]="menu"> <i class="fas fa-ellipsis-v"></i>Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item> <i class="fas fa-sign-in-alt"></i> Login</button>
    <button mat-menu-item> <i class="fas fa-user-plus"></i> Sign up</button>
  </mat-menu>
  <pre>
    This social network is intended for every person to use his details with those around him
     and not revolve around him, you are invited to register and enjoy this social network.
    </pre>

            </div>

